# general_note.md
meetings-climate.md
# meetings-general.md
# monthly_note.md
peer_review.md
presentation.md
# project_moc.md
reference_note.md
# scripts/
training-general.md
training-rowing.md
# weekly_note.md
# weekly_training.md
# writing_template.md
# git_instructions.md
# daily_note.md


